<p> <%= @question.body %> </p>

<h2>Answers</h2>

<%= link_to 'Создать новый ответ', new_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<p> <%= link_to 'Изменить', edit_question_path(@question) %> </p>
<p> <%= link_to 'Назад', test_path(@question.test) %> </p>
