<h1>Тест "<%= @test_passing.test.title %>" завершен!</h1>

<p>Правильных ответов: <%= @test_passing.correct_questions_counter %></p>
<p>Всего вопросов: <%= @test_passing.test.questions.count %></p>

<% if @test_passing.successful? %>
  <p>Тест успешно пройден! Ваш результат:</p>
  <p style="color: #00FF00;"><%= @test_passing.result_passage %> %</p>
<% else %>
  <p>Тест не пройден! Ваш результат:</p>
  <p style="color: #ff0000;"><%= @test_passing.result_passage %> %</p>
<% end %>

<p><%= link_to 'Вернуться к списку тестов', tests_path %></p>
