<nav class="navbar navbar-light bg-info">
  <div class="container">
    <span class="nav-admin title"><%= link_to t('.test_guru'), root_path %></span>
    <span class="nav-admin title">
      <%= t('.admin_panel')%>
    </span>

    <span class="nav-admin title">
      <%= link_to 'Gist table', admin_gists_path %>
    </span>
    
    <div class="nav-admin user">
      <%= t('.welcome') %> <b class="nav-admin user-email"><%= current_user.email %></b> Guru |
      <%= button_to t('.logout'), destroy_user_session_path, method: :delete %>
    </div>
  </div>
</nav>
