<footer class="text-center bg-light py-4">
  <p class="mb-1">&copy; <%= current_year %> <%= t('.author') %> | <%= github_url("sochnevl", "test-guru")%></p>
  <p class="mb-1"><%= t('.application_purpose') %></p>
  <p class="mb-1"><%= link_to t('.project_school'), 'https://thinknetica.com/', target: "_blank", rel: 'nofollow noopener'%></p>
</footer>
