<footer>
  <p>&copy; <%= current_year %> <%= 'Алексей Сочнев' %> | <%= github_url("sochnevl", "test-guru")%> </p>
  <p><%= 'Приложение для прохождения и создания тестов' %></p>
  <p> <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/', target: "_blank",  rel: 'nofollow', rel: 'noopener'%> </p>
</footer>
