<p>
  <strong><%= t('.title') %>:</strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('.level') %>:</strong>
  <%= @test.level %>
</p>

<table>
  <tbody>
    <%= render partial: 'admin/questions/question', collection: @test.questions %>
  </tbody>
</table>

<p> <%= link_to t('.create_new_question'), new_admin_test_question_path(@test) %> </p> 
<%= link_to t('.edit_test'), edit_admin_test_path(@test) %> |
<%= link_to t('.to_tests'), admin_tests_path %>
