<p>
  <strong>Название:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Уровень:</strong>
  <%= @test.level %>
</p>

<table>
  <tbody>
    <%= render partial: 'admin/questions/question', collection: @test.questions %>
  </tbody>
</table>

<p> <%= link_to 'Создать новый вопрос', new_admin_test_question_path(@test) %> </p> 
<%= link_to 'Изменить тест', edit_admin_test_path(@test) %> |
<%= link_to 'К тестам', admin_tests_path %>
