<p>
  <strong>Название:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Уровень:</strong>
  <%= @test.level %>
</p>

<table>
  <tbody>  
    <%= render @questions %>
  </tbody>
</table>

<p> <%= link_to 'Создать новый вопрос', new_test_question_path(@test) %> </p> 
<%= link_to 'Изменить тест', edit_test_path(@test) %> |
<%= link_to 'К тестам', tests_path %>
