<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel | TestGuru</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      body {
        padding-top: 60px;
      }

      .container {
        margin-top: 20px;
      }
    </style>
  </head>

  <body> 
    <%= render 'admin/nav' %>
    <div class="container">
      <%= render 'shared/flash'%>

      <%= yield %>
    </div>
    <%= render 'shared/footer'%>
  </body>
</html>
